{% extends 'base.html' %}
{% block content %}
    <img 
        width="100px"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"/>
    <p>
        <h2>렛츠코딩앤플레이</h2>
    </p> 
    <p>
        <button>
        프로필 편집
        </button>
    </p>
    <p>
        <strong>이코딩 (Coding Lee)</strong>
        <br/>
        원장
    </p>
    <p>
        <a href="http://letscoding.kr">
        blog.naver.com/lets_coding
        </a>
    </p>
    
    <p>
        게시물<br/>
        팔로워<br/>
        팔로우<br/>
        133<br/>
        408<br/>
        189
    </p>
{% endblock %}